.Joke {
  display: flex;
  border-bottom: 2px solid #eeeeee;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 1rem;
}

.Joke-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-right: 1rem;
}

.Joke-text {
  width: 80%;
  font-size: 1.2rem;
}

.Joke-votes {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 3px solid red;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  transition: border-color 0.7s;
}

.Joke-button {
  margin: 0;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.5;
  outline: none;
}

.Joke-button-up {
  color: green;
}

.Joke-button-up:hover {
  animation-name: move-up;
}

.Joke-button-down {
  color: red;
}

.Joke-button-down:hover {
  animation-name: move-down;
}

.Joke-button:hover,
.Joke-button:focus,
.Joke-button:active {
  opacity: 1;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

.Joke-smiley {
  font-size: 3rem;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.Joke-smiley:hover {
  animation-name: spin;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

@keyframes move-up {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-3px);
  }
}

@keyframes move-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(3px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}